{% extends 'base.html.twig' %}
{% block title %}Wild Circus - Tarifs{% endblock %}
{% block body %}
    <div class="box-img-top-tarif-public ">
        <img src="assets/images/img-p-tarif.jpg" class="img-top-tarif-public w-100 h-90" alt="candy">
    </div>
    <div data-aos="fade-down">
        <h1 class="h1-title-public mb-5 mt-5">Informations tarifs</h1>
        {% for tarif in tarifs %}
            <div class="jumbotron jumbotron-fluid linear-gradient">
                <div class="container">
                    <h1 class="display-4">Wild Circus</h1>
                    <p class="txt-p-date-public">{{ tarif.priceType }}</p>
                    <p class="txt-p-date-public">{{ tarif.price }} €</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
