.form-group{
    text-align: center;
}
.title-home{
    text-align: center;
}

.card-title {
    text-align: center;
}

.card-text{
    text-align: center;
}


.h1-title-public{
    text-align: center;
}

.location{
    text-align: center;
}

.date{
    text-align: center;
}

.title{
    text-align: center;
}